LOG_LEVEL=debug
LOG_SOURCE=false

APP_NAME=demo_hello
APP_VERSION=1.0.0
APP_HOST=localhost
APP_PORT=9004

FULLNAME=Robert The Coder
# To add extra environment variables on commandline: -e FULLNAME="RTC"